<div class="flexerino">
    <div class="QuestionCard">
        <h2 class="title HEXADType">CONTACTEZ-NOUS</h2>

        <form>
            <input type="text" placeholder="Pseudo" required>
            <input type="email" placeholder="Email" required>
            <select name="Tribu" id="">
                <option value="" disabled selected>Tribu</option>
                <option value="">Samahk</option>
                <option value="">Qãhal</option>
                <option value="">Tùr</option>
                <option value="">Bãnãh</option>
                <option value="">Qasar</option>
                <option value="">Nãsãh</option>

            </select>
            <textarea rows="5" placeholder="Message..." required></textarea>

            <div class="flexerino">
                <button type="submit" class="HEXADType">
                    ENVOYER
                </button>
            </div>
        </form>
    </div>
</div>
