.title {
    text-align: center;
}

.titleLeft {
    text-align: left;
}

.dunamisesportsTitle {
    font-size: xx-large;
}

.flexerino {
    display: flex;
    justify-content: space-around;
}

.inlinerino {
    display: inline-flex;
}

.noYmargin {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.Nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(179, 177, 177, 0.4);
    border-radius: 20px;
}

.aNavNoStyle {
    color: rgb(10, 93, 131);
    text-decoration: none;
    text-shadow: 2px 0px 2px rgb(179, 177, 177);
}

.aNavNoStyle:hover {
    color: rgb(10, 93, 131);
    text-shadow: 2px 0px 2px rgb(179, 177, 177);
}

.NavElem {
    padding-left: 2%;
    padding-right: 2%;
}

.NavElem:hover {
    background-color: rgba(12, 73, 114, 0.1);
    padding-left: 2%;
    padding-right: 2%;
}