.HEXADType {
    color: wheat;
}

.flexerino {
    display: flex;
    justify-content: space-around;
}

.inlinerino {
    display: inline-flex;
}

details>summary {
    list-style: none;
}

.HEXADChara {
    width: 50%;
}