<div>

    @if (hasInLocalStorage("OccuBoard") && showHexad) {
    <div>
        <h2 class="title">Test Buttons</h2>
        <div class="flexerino">
            <button (click)="fillFormMock()">
                Remplir automatiquement
            </button>
            <div>
                <button (click)="YourHEXADType()">Your HEXAD TYPE</button>
            </div>
        </div>
    </div>
    <div class="flexerino">
        <div class="HEXADChara">
            <svg viewBox="0 0 400 400" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(200,200)">

                    <!-- HEXA GRID : 6 LEVELS -->
                    <g stroke="yellow" stroke-dasharray="6,6" fill="none">
                        <!-- r = 25 -->
                        <path d="M0,-25 L21.65,-12.5 L21.65,12.5 L0,25 L-21.65,12.5 L-21.65,-12.5 Z" />
                        <!-- r = 75 -->
                        <path d="M0,-75 L64.95,-37.5 L64.95,37.5 L0,75 L-64.95,37.5 L-64.95,-37.5 Z" />
                        <!-- r = 125 -->
                        <path d="M0,-125 L108.25,-62.5 L108.25,62.5 L0,125 L-108.25,62.5 L-108.25,-62.5 Z" />

                    </g>
                    <g stroke="white" stroke-dasharray="6,6" fill="none">
                        <!-- r = 50 -->
                        <path d="M0,-50 L43.3,-25 L43.3,25 L0,50 L-43.3,25 L-43.3,-25 Z" />
                        <!-- r = 100 -->
                        <path d="M0,-100 L86.6,-50 L86.6,50 L0,100 L-86.6,50 L-86.6,-50 Z" />
                        <!-- r = 150 -->
                        <path d="M0,-150 L129.9,-75 L129.9,75 L0,150 L-129.9,75 L-129.9,-75 Z" />
                    </g>


                    <!-- AXES -->
                    <path d="M0,0L0,-150" stroke="white" />
                    <path d="M0,0L130,-75" stroke="white" />
                    <path d="M0,0L130,75" stroke="white" />
                    <path d="M0,0L0,150" stroke="white" />
                    <path d="M0,0L-130,75" stroke="white" />
                    <path d="M0,0L-130,-75" stroke="white" />

                    <!-- LABELS -->
                    <text x="0" y="-170" text-anchor="middle" fill="white">Sãmakh</text>
                    <text x="150" y="-85" text-anchor="middle" fill="white">Qãhal</text>
                    <text x="150" y="95" text-anchor="middle" fill="white">Tùr</text>
                    <text x="0" y="185" text-anchor="middle" fill="white">Bãnãh</text>
                    <text x="-150" y="95" text-anchor="middle" fill="white">Qasar</text>
                    <text x="-150" y="-85" text-anchor="middle" fill="white">Nãsãh</text>

                    <path [attr.d]="hexadPath" fill="#92f0da" fill-opacity="0.5" stroke="#92f0da" stroke-width="2">
                    </path>
                </g>

            </svg>
        </div>
    </div>
    <div class="flexerino">
        <div class="cardHexad">
            <div class="title">
                <h1>Primary</h1>
            </div>
            <hr>
            <div class="title">
                <h2>{{primary!.DunaHEXADType}}</h2>
                <br>
                <h2>{{primary!.HEXADType}}</h2>
            </div>
            <div class="flexerino ">
                <img class="imgPadd"
                    src="/img/HEXAD/{{primary?.indexOfHEXADTypeFromfinishedHEXADPersonnalClassificationArray}}.png"
                    alt="{{primary?.HEXADType}}">
            </div>
            <div>
                {{primary!.HEXADTypeDescription}}
            </div>
        </div>
        <div class="cardHexad underlying">
            <div class="title">
                <h1>Underlying</h1>
            </div>
            <hr>
            <div class="title">
                <h2>{{underlying!.DunaHEXADType}}</h2>
                <br>
                <h2>{{underlying!.HEXADType}}</h2>
            </div>
            <div class="flexerino">
                <img class="imgPadd"
                    src="/img/HEXAD/{{underlying?.indexOfHEXADTypeFromfinishedHEXADPersonnalClassificationArray}}.png"
                    alt="{{underlying?.HEXADType}}">
            </div>
            <div>
                {{underlying!.HEXADTypeDescription}}
            </div>
        </div>
    </div>
    }
    @else{
    <details>
        <summary class="flexerino">
            <button (click)="fillFormMock()">
                Remplir automatiquement
            </button>

            <h1>Questions</h1>
            <div class="flexerino">
                <button (click)="YourHEXADType()">Your HEXAD TYPE</button>
            </div>
        </summary>

        <div class=" HEXADType flexerino">
            @for( currentDunaQR of questionReponses; track $index){
            <details class="QuestionCard" open>
                <summary>
                    <div class="flexerino">
                        <h1 class="title">{{currentDunaQR.question}}</h1>
                    </div>
                </summary>
                <div class="radio-group flexerino">
                    @for (answer of currentDunaQR.answers; track answer.value) {
                    <label class="radio-label">
                        <input type="radio" [name]="'question_' + currentDunaQR.id" [value]="answer.value"
                            (change)="setUiAnswers(currentDunaQR.id, $event)" />
                        <span class="custom-radio"></span>
                        {{ answer.label }}
                    </label>
                    }
                </div>
                <!--<div class="flexerino">
                    <select (change)="setUiAnswers(currentDunaQR.id,$event)">
                        <option value="Choisis une Option"></option>
                        @for( currentQuestion of currentDunaQR.answers; track $index){
                        <option value="{{currentQuestion.value}}">{{currentQuestion.label}}</option>
                        }
                    </select>
                </div>-->
            </details>
            }
        </div>

    </details>
    }










</div>