.QuestionCard {
    background-color: rgb(46, 46, 45);
    border-radius: 50px;
    width: 22%;

    margin: 1%;
    padding: 1%;
}

.HEXADType {
    color: rgb(255, 195, 0);
    padding: 2%;

}

.title {
    text-align: center;
}

.flexerino {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inlinerino {
    display: inline-flex;
}

details>summary {
    list-style: none;
}

.HEXADChara {
    width: 60%;

    background-color: black;

    border: 4px solid rgb(255, 57, 15);
    border-radius: 25px;

    padding-bottom: 50px;
    margin-bottom: 200px;
    margin-top: 50px;
}

.svgPadding {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.cardHexad {
    max-width: 25%;
    border: 4px solid rgb(255, 57, 15);
    border-radius: 25px;
    padding: 3%;
}

.underlying {
    margin-top: 100px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    flex-wrap: wrap;
}

.radio-group:has(input[type="radio"]:checked) {
    border-radius: 25px;
    background-color: rgb(255, 57, 15);

    .radio-label:hover {
        background: rgba(255, 255, 255, 1);
    }
}

.backText {
    background-color: black;
    padding: 10px;
    border-radius: 25px;
}

.radio-label {
    display: flex;
    color: #04151d;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.2s;
    background-color: rgb(8, 202, 202);
}

.radio-label:hover {
    background: rgb(255, 57, 15)
}

.custom-radio {
    width: 20px;
    height: 20px;
    border: 4px solid rgb(255, 195, 0);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    flex-shrink: 0;
}

.imgPadd {
    padding-bottom: 15px;
    max-width: 450px;
}

input[type="radio"]:checked+.custom-radio {
    background: #ffd700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

input[type="radio"]:checked+.custom-radio::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
}