<div>
    <div class="HEXADType">
        @for( currentDunaQR of questionReponses; track $index){
        <div class="flexerino">
            <details>
                <summary>
                    <div class="flexerino">
                        <h1>{{currentDunaQR.question}}</h1>
                    </div>
                </summary>
                <div>
                    <select name="" id="">
                        <option value="Choisis une Option"></option>
                        @for( currentQuestion of currentDunaQR.answers; track $index){
                        <option value="{{currentQuestion.value}}">{{currentQuestion.label}}</option>
                        }
                    </select>
                </div>
            </details>
        </div>
        }
    </div>
</div>