.title {
    text-align: center;
}

.flexerino {
    display: flex;
    justify-content: space-around;
}

.bandeauLastStream {
    max-width: 30%;
    border: 5px solid rgb(255, 57, 15);
    border-radius: 25px;
}

#twitch-embed {
    padding: 5%;
}