.title {
    text-align: center;
}

.flexerino {
    display: flex;
    justify-content: space-around;
}

.bandeauLastStream {
    min-width: 30%;
    border: 5px solid rgb(255, 57, 15);
    border-radius: 25px;
}

.twitch-frame {
    width: 90%;
    min-height: 300px;
    padding-left: 5%;
    padding-bottom: 5%;
}

.streamer {
    color: aqua;
}