.container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

img {
    border-radius: 24px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0 0 40px rgba(255, 57, 15, 0.6);
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 10%;
    background-color: #000000;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-right: 5%;
}

.instagram {
    font-size: 28px;
    padding-bottom: 20px;
}

.instagram a {
    color: rgb(255, 57, 15);
    text-decoration: none;
}



.box {
    background-color: #000000;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(255, 57, 15);
    ;
}

.title {
    text-align: center;
}

.box h2 {
    color: rgb(255, 57, 15);
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 20px;
}

.box p {
    line-height: 1.8;
    font-size: 1.1em;
    margin: 12px 0;
}