<div class="container">
    <!-- Section Logo -->
    <div>

        <div class="logo-section">

            <img width="100%" src="/img/logo/Logo.jpg" alt="Dunamis Esports Logo">
            <div class="title instagram">
                <a href="https://www.instagram.com/dunamis.esports/" target="_blank">Dunamis.Esport</a>

            </div>

        </div>


    </div>


    <div class="text-section">
        <div class="box">
            <h2>Vision :</h2>
            <p>Permettre à des joueurs et joueuses chrétiens, amateurs comme professionnels, de se réunir pour partager
                leur passion du jeu vidéo et leur foi au sein d’une communauté multigaming organisée.</p>
            <p>Dunamis Esports répond à un besoin criant sur la scène esport française : l’absence d’une structure
                chrétienne dédiée.</p>
            <p>Le jeu vidéo, omniprésent dans notre société (consoles, PC, mobiles), favorise aujourd’hui la
                sociabilisation, la communication et l’interaction grâce au multijoueur, aux streamers et aux
                communautés en ligne – loin de l’idée reçue d’isolement.</p>
        </div>

        <div class="box">
            <h2>Mission :</h2>
            <p>Créer une multigaming chrétienne francophone rassemblant joueurs et joueuses autour de valeurs communes,
                dans un esprit de camaraderie, de partage et d’entraide.</p>
            <p>Investir la scène esport française en recrutant, formant et accompagnant des talents compétitifs, pour
                devenir la première structure compétitive chrétienne en France.</p>
            <p>Offrir un espace complémentaire à l’Église – sans la remplacer – où la foi accompagne les joueurs dans
                leur passion.</p>
            <p>Transformer les cœurs à travers le jeu vidéo en portant un message positif : Dieu est partout, même dans
                l’esport et la compétition.</p>
        </div>

        <div class="box">
            <h2>Valeurs :</h2>
            <p>Les valeurs chrétiennes constituent le cœur même de Dunamis Esports.</p>
            <p>Respect clair et affirmé des Saintes Écritures.</p>
            <p>Recrutement ouvert exclusivement aux chrétiens francophones afin d’établir une identité forte dès la
                fondation.</p>
            <p>Promotion de la camaraderie, de l’entraide et d’un témoignage positif portant le christianisme au sein du
                monde du jeu vidéo et de l’esport.</p>
        </div>
    </div>
</div>