body {
    margin: 0px;
    padding: 0px;
    background-image: url(/img/logo/logotRReal.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 195, 0);
    font-family: 'OrbitronLight', monospace;


    scroll-behavior: smooth;
}

@font-face {
    font-family: OrbitronLight;
    src: url("/orbitron/orbitron-light.otf") format("opentype");
}

@font-face {
    font-family: Orbitron;
    font-weight: bold;
    src: url("/orbitron/orbitron-bold.otf") format("opentype");
}